body {
	font-size: 150%;
}

:focus {
	outline: 0;
}


input::-moz-focus-inner { border: 0; }


#head {
	margin-bottom: 3em;
}

.title {
	margin-bottom: 3em;
}

.title > h3 {
	font-weight: bold;
}

#side {
	/*border: 1px solid gray;*/

}

#main {
	/*border: 1px solid gray;*/
}

.loan-btn {
	width: 100%;
	margin-left: 1em;
	margin-bottom: 0.25em;
	height: 2.5em;
}

.loan-category {
	margin-bottom: 2.5em;
	font-weight: bold;
}

#tableBtnGroup > button {
	margin: .25em;
}