body {
	font-size: 150%;
	position: relative;
}

:focus {
	outline: 0;
}


input::-moz-focus-inner { border: 0; }

#head {
/*	margin-bottom: 3em;*/
}

#head > .head-item {
	display: inline-block;
}

.user-login {
	margin-top: 0.5em;
}

.user-login > * {
	vertical-align: middle;
	display: inline;
}

.title {
	margin-top: 1em;
	margin-bottom: 1em;
}

.title > h3 {
	font-weight: bold;
}

#side {
	/*border: 1px solid gray;*/
	/*position: fixed;*/
	margin-top: 2em;
}

.sidebar-module {

	display: block;
	background-color: white;
	padding: 1.5em;
	padding-top: 0.25em;
	margin-bottom: 1.5em;

	border: 2px solid gray;
	-webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);	
}

.sidebar-module > h4 {

}

.inventory-item {
	margin-bottom: 1em;
}

.inventory-item > * {
	display: inline-block;
}

.inventory-item > span {
	width: 80%;
}

#main {
	/*border: 1px solid gray;*/
}

.loan-btn {
	width: 100%;
	/*margin-left: 1em;*/
	margin-bottom: 0.25em;
	height: 4em;
}

.loan-category {
	margin-bottom: 2.5em;
	font-weight: bold;
}

#loan-table {
	height: 60vh;
	overflow: auto;
}

#tableView {
	margin-bottom: 1em;
}

#loan-table img {
	display: inline-block;
}

.table-button-group > button {
	/*margin: . 25em;*/
	margin-left: .25em;
	margin-right: .25em;
	width: 45%; /* Two buttons means they each take up half of width. */
}

