/*
 * GENERAL PAGE
 */

body {
	font-size: 150%;
	position: relative;
}

#main {
	padding-top: 2em;
	padding-left: 4em;
}

#page-title {
	text-decoration: none;
	color: black;
}

#side {
	/*padding-right: 4em;*/
}

#new-loan-form > div {
	margin-top: 0.5em;
}

#user-info-panel * {
	margin-bottom: 0px;
}

#loan-form-container {
	/*padding-left: 0em;*/
}

#loan-empty p {
	margin-bottom: 0px;
}
/*
 * TOP > HEADER
 */

#head {
	display: block;
	position: relative;
/*	margin-bottom: 3em;*/
}

#head h1:before {
	content: "";
	background: url("/laptop.png");
	background-repeat: no-repeat;
	z-index: -1;
	opacity: 0.4;
	position: absolute;
  	top: -.5em;
  	left: 0;
  	bottom: -.55em;
  	right: 0;
}

#head > .head-item {
	display: inline-block;
}

#head h1 {
	margin-left: -.2em;
}

#head > .hr {
	background-color: white;
	height: 2em;
}

/*
 * TOP > HEADER > USER LOGIN
 */

.user-login {
	margin-top: 0.5em;
}

.user-login > * {
	vertical-align: middle;
	display: inline;
}

/*
 * CONTENT > LOG VIEW TITLE
 */

.title {
	margin-top: 1em;
	margin-bottom: 1em;
}

.title > h3 {
	font-weight: bold;
}

/*
 * CONTENT > SIDE
 */

#side {
	/*border: 1px solid gray;*/
	/*position: fixed;*/
	margin-top: 2em;
}

/* 
 * CONTENT > SIDE MODULES 
 */

.sidebar-module {

	display: block;
	background-color: white;
	padding: 1.5em;
	padding-top: 0.25em;
	margin-bottom: 0.5em;

	border: 1px solid #d8d8d8; 
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: inset 0 0 0 1px #fff;
	-webkit-box-shadow: inset 0 0 0 1px #fff;
	box-shadow: inset 0 0 0 1px #fff; 
}

/*
 * CONTENT > SIDE MODULE > INVENTORY LEVELS
 */

.inventory-item {
	margin-bottom: 1em;
}

.inventory-item > * {
	display: inline-block;
}

.inventory-item > span {
	width: 80%;
}

.loan-btn {
	width: 100%;
	/*margin-left: 1em;*/
	margin-bottom: 0.25em;
	height: 4em;
}

.loan-category {
	margin-bottom: 2.5em;
	font-weight: bold;
}

/*
 * CONTENT > LOAN STUFF
 */


#tableView {
	margin-bottom: 1em;
}

.alert-msg-text {
	margin-bottom: 0.5em;
}

#loan-out-adv-options {
	margin-top: 1.5em;
}

/*
 * MODAL - LOAN OUT
 */

.pickadate[disabled], .pickadate[readonly], fieldset[disabled] .pickadate {
	cursor: default;
	background-color: white;
}

.add-asset {
	/*width: 80%;*/
	height: auto;
	width: 64px;
}

#new-loan-preview {

}

.loan-item {

/*	display: block;
	position: relative;
	padding: 0.5em 0;
	margin-bottom: .5em;*/

/*	margin-right: 1em;
	margin-left: .5em;*/
}

.loan-item > div {
	vertical-align: middle;
}

.loan-item-text {
/*	padding-top: 0.25em;
	display: block;*/
}

.loan-item-text * {
	/*vertical-align: middle;*/
	display: inline;
}

.loan-item-img {
	display: inline-block;
}

#add-asset-list .asset-item {
	text-align: center;

	padding-left: 0.25em;
	padding-right: 0.25em;
	margin: 0.25em 0em;

	position: relative;
	max-width: 100%;
}

.loan-item {

	text-align: left;

	/*width: 32%;*/
	/*margin: 0.45em 0.35em;*/

/*	border: 1px solid #d8d8d8; 
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: inset 0 0 0 1px #fff;
	-webkit-box-shadow: inset 0 0 0 1px #fff;
	box-shadow: inset 0 0 0 1px #fff; 
*/
	position: relative;
}

.loan-item-overlay {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(162,202,136,0.45);*/
  color: #fff;

  vertical-align: middle;
  display: inline-block;

  z-index: 99 !important;
  /*height: 4em;*/
}

.loan-item-overlay img, .loan-item-overlay input {
	/*max-height: 42px;*/

	display: inline-block;
	vertical-align: middle;

	width: 32px;

}

.align-frame {

	vertical-align: middle;
	text-align: right;
	padding: 0.75em 0.5em 0em 0.75em;
	height: auto;
	width: 100%;
	/*border: 1px solid red;*/
  position: relative;
}

